
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.google.com/icons');

body {
    margin: 50px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}
body {
    background-image: url(./background.png);
    background-repeat: no-repeat;
   background-size: cover;
   background-color: #23a897;

}
.form {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}
.submit {
    background-color:#23a897;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: none;
    color: white;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 8px;
    margin-bottom: 8px;
}