{% extends "base.html" %}
{% load static %}

{% block title %}Form{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'cryptids/form.css' %}">
{% endblock %}

{% block content %}
<div class="form-style-6">
    <h1>Form</h1>
    <form>
    <input type="text" name="field1" placeholder="Animal name" />
    <input type="location" name="field2" placeholder="Animal Locations" />
    <textarea name="text" placeholder="Discription"></textarea>
    <input type="submit" value="Send" />
    </form>
    </div>
{% endblock %}