{% extends "base.html" %}
{% load static %}

{% block title %}Form{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'cryptids/login.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="container-add_animal">
    <div id="title">
        <i class="material-icons pets"> pets</i> Add sighting
    </div>
    
    <form method="POST" action="">
        {% csrf_token %}
        <div class="input" >
            <div class="input-addon">
                <i class="material-icons">pets </i>
            </div>
            <select id="username" name="animal">
                {% for animal in animals %}
                    <option value="{{ animal.id }}">{{ animal.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="input" >
            <div class="input-addon">
                <i class="material-icons">add_location </i>
            </div>
                <select id="location" name="location">
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.location_place }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="description">
            <textarea name="description" rows="5" cols="20" placeholder="Description"></textarea> <br>
            <button type="submit" class="btn btn-submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}