{% extends "base.html" %}
{% load static %}

{% block title %}Form{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'cryptids/login.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="container-add_animal">
    <div id="title">
        <i class="material-icons pets"> pets</i> Add sighting

    </div>
    
    <form method="POST" action="{% url 'animals' %}">
        {% csrf_token %}
        <div class="input" >
            <div class="input-addon">
                <i class="material-icons">pets </i>
            </div>
            <input id="username" placeholder="Animal name" type="text" required class="validate" autocomplete="off" name="animal_name">
        </div>

        <div class="clearfix"></div>

        <div class="input">
            <div class="input-addon">
                <i class="material-icons">add_location </i>
            </div>
            <input id="location" placeholder="Location" type="text" required class="validate" autocomplete="off" name = "location">
        </div>

        <div>
            <br>
            Animal Description:<br>
             <br>
            <textarea name="text" rows="5" cols="20" placeholder="Description"></textarea> <br>
            <br>
            <input type="submit" value="submit" /> <br>

        </div>

    </form>
{% endblock %}