{% extends "base.html" %}
{% load static %}

{% block title %}Animals{% endblock %}
{% block CSS %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'cryptids/index.css' %}">
{% endblock %}

{% block content %}
<h1></h1>
<div class="about">
  <p>This app is all about magical and mysterious animals. <br> Within the app you can track the location of each animal with live updates of last seen sightings.</p>
</div>

<div class="icons">
    <div class="icons1">
    <div class="div_icons"><a href="{% url 'animals' %}" class="icon-block">
    <i class="material-icons pets"style="font-size:100px;" >pets</i>   <p>Animals</p> </a> </div>
      
    <div class="div_icons"><a href="{% url 'locations' %}" class="icon-block">
    <i class="material-icons map" style="font-size:100px;" >map</i> <p>Locations </P></a> </div>  </div>

        <div class="icons2">
       <div class="div_icons"> <a href="{% url 'form' %}" class="icon-block">   
    <i class="material-icons add_location_alt" style="font-size:100px;">add_location_alt </i> <p> Add new sighting </P></a> </div> 
        <div class="div_icons"><a href= "{% url 'about' %}" class="icon-block">
            <i class="material-icons favorite"style="font-size:100px;" >favorite</i>   <p>About</p> </a> </div> 
       
</div>
</div>


{% endblock %}