{% extends "base.html" %}
{% load static %}

{% block title %}{{ location.location_place }}{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'cryptids/animals.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="icons">

    <div class="div_icons"><a href="./Home.html" class="icon-block">
            <i class="material-icons map" style="font-size:80px;">map</i> </a>
        <p>Locations </P>
    </div>


    <div class="div_icons"> <a href="{% url 'form' %}" class="icon-block">
            <i class="material-icons add_location_alt" style="font-size:80px;">add_location_alt </i> </a>
        <p> Add new sightings </P>
    </div>

    <div class="div_icons"> <a href="./Home.html" class="icon-block">
            <i class="material-icons pets" style="font-size:80px;">pets</i> </a>
        <p>Animals</p>
    </div>



<div class="div_icons"> <a href="./Home.html" class="icon-block">
        <i class="material-icons pets" style="font-size:80px;">pets</i> </a>
    <p>Animals</p>
</div>

<div class="about">

    <h1>{{ location }}</h1>
    <ul>
        {% for animal in animals %}
        <li>
            <a href="{% url 'detail' animal.id %}">
               <h2> {{ animal.name }} </h2>
                <img src="{{ animal.image.url }}">
            </a>
        </li>

        {% empty %}
        <li>No animals</li>

        {% endfor %}
    </ul>
</div>
{% endblock %}