{% extends "base.html" %}
{% load static %}

{% block title %}Form{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'cryptids/form.css' %}">
{% endblock %}

{% block content %}
<div class="form-style-6">
    <h1>Questionnaire</h1>
    <form>
        <ul>
            {% for question in questions %}
            <li>
                    {% url 'polls:detail' animal.id %}
                    {{ question.question_text|upper }} {{ question.pub_date|upper }}
                    
                </li> 
    {% empty %}
            <li>No questions</li>
    {% endfor %}
    </ul>
    <input type="text" name="field1" placeholder="Your Name" />
    <input type="email" name="field2" placeholder="Email Address" />
    <textarea name="field3" placeholder="Type your Message"></textarea>
    <input type="submit" value="Send" />
    </form>
    </div>
{% endblock %}